.welcome-page {
     padding-left: 100px;
     padding-right: 100px;
     padding-top: 30px;
     display: flex;
     flex-direction: column;
     align-items: center;
     position: relative;
     width: 100%;
     overflow: hidden;
     min-height: 100vh;
}

.main-title {
     font-size: 2.7rem;
     color: #f3b840;
     font-weight: 900;
     text-align: center;
}

.ul-container {
    padding-left: 20px;
    margin-top: 25px;
    li {
        margin: 25px 0;
    }
}

.info-container {
    font-weight: bold;
    font-size: 1.3rem;
    color: #54575a;
}

@media screen and (max-width: 658px) {
    .welcome-page {
        padding: 0;
        padding-top: 40px;
        align-items: center;
    }
    .info-container {
        width: 90%;
    }
}